[submodule "third-party/utils"]
	path = third-party/utils
	url = https://github.com/TUM-I5/utils.git
[submodule "third-party/gfakluge"]
	path = third-party/gfakluge
	url = git@github.com:camillescott/gfakluge.git
[submodule "third-party/prometheus-cpp"]
	path = third-party/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp
[submodule "include/bbhash"]
	path = include/bbhash
	url = https://github.com/rizkg/BBHash
