[submodule "third-party/utils"]
	path = third-party/utils
	url = https://github.com/TUM-I5/utils.git
[submodule "third-party/gfakluge"]
	path = third-party/gfakluge
	url = https://github.com/camillescott/gfakluge.git
[submodule "include/prometheus-cpp"]
	path = third-party/prometheus-cpp
	url = https://github.com/camillescott/prometheus-cpp
